montage-workflow-sequential/data/
montage-workflow-sequential/.bash_history
.bash_history
test.txt

montage-workflow-dask/.bash_history
montage-workflow-dask/data/
montage-workflow-dask/output.txt
montage-workflow-dask/dask-worker-space/

montage-workflow-eval/dask-worker-space/
montage-workflow-eval/data/
montage-workflow-eval/output.txt
